All content-coding values are case-insensitive

I found in [RFC 7231, section 3.1.2.1](https://tools.ietf.org/html/rfc7231#section-3.1.2.1) that:

> All content-coding values are case-insensitive

We should do a case-insensitive comparison in `AbstractContentCodec` and `HeaderUtils.encodingFor`.
@tkountis did I miss any other cases?

We should also change all these constants to use `CharSequences#newAsciiString` instead of defining them as `String`(s) and optimize `ContentCodingHttpRequesterFilter#buildAcceptEncodingsHeader` to avoid using `StringBuilder` if there is only a single `ContentCodec` in the passed `List`.

We can probably fix it as part of currently open #1376.

Regarding AbstractContentCodec.equal():

The argument in favor of using getClass() would be that for objects which are going to be used with Java Collections, especially Map, it is important that equals() have consistent results. Specifically for Map, obj1.equals(obj2) == obj2.equals(obj1) must be true for all pairs of objects used with the Map. Without this the Map will have inconsistent behaviour such as being unable to find keys in the map despite apparently equality or non-equal elements being "merged" and treated as the same key.

If the intention is to create sub-classes then there is the possibility that two sub-classes may have different definitions of equality. The solutions available are to either insist that instances being compared for equality are exactly the same class or that equals() or the containing class be final.

In the particular case of AbstractContentCodec I would make the equals() method final, use instanceof and document that two AbstractContentCodec are considered equal if their names match. If this is not a sufficient definition of equals, ie. codecs with the same name but otherwise should be considered different then a non-final equals() and getClass() seems to be the best option.

Fixed by: https://github.com/apple/servicetalk/pull/1376